h1 {
    color:#333333;
    font-family: "Berlin Sans FB";
}

h4 {
    color:#666666;
    font-family: "Berlin Sans FB";
}
header nav {
  display: flex;
  justify-content: flex-end;
}

header p {
  padding: 0 20px;
  margin: 0;
  font-family: "Berlin Sans FB";
}

.navbar.navbar-expand-lg.navbar-light.bg-light {
 align-items: center;   
 font-family: "Berlin Sans FB"; 
}

body {
  font-family: "Berlin Sans FB";
  font-weight: 300;
  background-color: #eeeeee;  
  border-bottom: 5px solid black; 
}
.jumbotron {
  display: flex;
  align-items: right top;
  background-image: url('p02.jpg');
  background-size: cover;
  color: #333333;
  background-repeat: repeat-x;
  background-position: top;
  height: 450px;
  text-shadow: 0.25px 0.25px 0.25px #000000;
  padding: 35px;
  border-bottom: 5px solid white;  
  font-family: "Berlin Sans FB"; 
}
.jumbotron h2 {
  font-size: 40px;
  font-weight: 500;
  margin: 0;
  color: #333333;
  font-family: "Berlin Sans FB";
}

.col-sm-6 img {
  border-radius: 4px;
  padding: 10px;
  width: 250px;
  display: block;
  margin-left: auto;
  margin-right: auto;       
  
}

.share {
  border: 10px solid #E5E8E8;
  padding: 40px 0px;
  position: relative;
  text-align: center;
  width: 100%;  
  background-color: black;
  
 
}

.container1 {
    border: 28px solid white;
    
}

.col-sm-6 h4 {
  text-align: left;
    
}

.col-sm-6 p {
   text-align: justify;  
   font-family: "Berlin Sans FB";
}

#apps {
    border-bottom: 10px solid white;
    border-left: 40px solid white;
    font-family: "Berlin Sans FB";
}

#games {
    border-bottom: 20px solid white;
    background-color: #E5E8E8;
    border-left: 40px solid #E5E8E8;
    font-family: "Berlin Sans FB";
}

#aboutus {
    border-bottom: 10px solid white;
    border-left: 40px solid white;
    font-family: "Berlin Sans FB";
}

#qw {
    text-align: center;
    font-family: "Berlin Sans FB";
}


#as {
    text-align: justify;
    font-size: 15px;
    font-weight: 100px;
    margin: 40px;
    font-family: "Berlin Sans FB";
}

#contactus {
    border-bottom: 20px solid #E5E8E8;
    background-color: #E5E8E8;
    border-left: 40px solid #E5E8E8;
    font-family: "Berlin Sans FB";
}

.container3 {
    border: 28px solid #E5E8E8;
}

.container4 {
    text-align: center;
    font-family: "Berlin Sans FB";
    font-size: 30px;
    
    
}

#er {
    border-left: 40px solid white;
    font-family: "Berlin Sans FB";
}

#df {
    border-left: 40px solid #E5E8E8;
    font-family: "Berlin Sans FB";
}

#cv {
     color: white!;
     border: 20px solid black; 
     font-family: "Berlin Sans FB";
}
